* {
    font-family: "Brandon Grotesque", serif;
}

body {
    padding: 0;
    margin: 0;
}

/*Estilos para el nav y el header del logo principal*/
.logo {
    width: 5%;
    height: 5%;
}

.izq {
    border: 1px solid red;
}

header {
    height: 360px;
    z-index: 10;
}

.header-banner {
    background-color: #333;
    background-image: url('https://64.media.tumblr.com/26b59e78655f130f8456e94b73d652da/tumblr_oo5fv8qVGB1w4socho1_500.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

header h1 {
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-transform: uppercase;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    position: sticky;
    top: 360px;
    z-index: 10;
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}

.visible-title {
    visibility: visible;
}

nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #a9abae;
    height: auto;
}
.botonAbierto{
    display: none;
}
@media screen and (max-width: 600px) {
    .navCerrado {
        text-decoration: none;
        color: #a9abae;
        height: auto;

    }
    .navCerrado li{
        display: none;
    }
    .botonCerrado{
        display: inline-block;
        line-height: 60px;
    }
}
@media screen and (min-width: 601px) {
    .navCerrado {
        text-decoration: none;
        color: #a9abae;
        height: auto;
    }
    .navCerrado li{
        display: inline-block;
    }
    .botonCerrado{
        display: none;
        line-height: 60px;
    }
    #myLinks ul li{
        display: inline-block;
    }
    
}
body {
    color: #292f36;
    font-family: helvetica;
    line-height: 1.6;
}

.content {
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}

article {
    float: left;
    width: 720px;
}

article p:first-of-type {
    margin-top: 0;
}

aside {
    float: right;
    width: 120px;
}

p img {
    max-width: 100%;
}

@media only screen and (max-width: 960px) {
    .content {
        padding: 2rem 0;
    }

    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }

    article:last-of-type {
        margin-bottom: 3rem;
    }

    aside {
        float: none;
        text-align: center;
        width: 100%;
    }
}

.info p {
    font-family: "Berlin Sans FB", sans-serif;
    padding: 2%;
    text-transform: uppercase;
}

.quote {
    text-align: center;
    font-family: "Berlin Sans FB", sans-serif;
}

a {
    color: #00c5b9;
    text-decoration: none;
}

h1 {
    color: #FFF;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    font-size: 2.4em;
}

/*---------------------------------------

 ----------------------------------------*/
@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

* {
    box-sizing: border-box;
}

figure {
    margin: 0;
    background: #101010;
    font-family: Istok Web, sans-serif;
    font-weight: 100;
}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: auto;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}

/*------------------------------------------------------>
 */
.tituloApps {
    text-align: center;
    font-family: "Brandon Grotesque", serif;
    margin: 1%;
}

.containerIndexHistoria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 3fr));
    grid-gap: 5rem;
    margin: 0;
    padding: 3rem;
    background-color: black;
    color: white;
}

.containerIndexHistoria h3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 5rem;
    margin-top: 60%;
    padding: 3rem;
    background-color: black;
    color: white;
}

.containerIndexHistoria p {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 5rem;
    margin-left: 30%;
    padding: 3rem;
    background-color: black;
    color: white;
}

.containerIndexApps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
}

@media (max-width: 991px) {
    .containerIndexHistoria h3 {
        margin: 1%;
    }

    .containerIndexHistoria p {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .containerIndexHistoria h3, .containerIndexApps {
        margin: 0;
    }

    .containerIndexHistoria p {
        margin: 0;
    }
}

/*--------------------------------Footer------------------------------*/

.site-footer {
    background-color: #26272b;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    bottom: 0;
}

#social-wrapper {
    text-align: center;
}

.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.about h6 {
    color: #fff;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    margin: 2%;
    letter-spacing: 2px
}

.text-justify {
    margin: 2%;
    color: white;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon {
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60);
    border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.footer p {
    text-align: center;
    color: white;
}

/*------------------------------Galeria-------------------------*/
.containerGaleria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
}
.card {
    height: 215px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

h3 {
    color: white;
    font-size: 24px;
    margin: 20px 0 0 20px;
    z-index: 1;

}

.card p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
    z-index: 1;
}

.card img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
    transform: translateY(-10px);
}

/*----------------------------Contacto--------------------*/
#bodyContact {
    background-image: linear-gradient(to bottom right, white, lightslategray);
}

.container {
    width: 50%;
    margin: 0 auto;
}

.form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B22222;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
}

.form-contact-button:hover {
    opacity: 1;
}

/*----------------------------Formularios--------------------*/
.containerForm {
    width: 992px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

#formulario input[type="text"], #formulario input[type="number"], #formulario textarea, #formulario input[type="submit"], #formulario input[type="email"], #formulario input[type="password"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#formulario {
    padding: 2%;
    margin: 2% 10%;
    background-color: #999999;
    border-radius: 10px;
}

#formulario h3 {
    color: rgb(255, 55, 55);
    display: block;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#formulario input[type="text"], #formulario input[type="number"], #formulario textarea, #formulario input[type="email"], #formulario input[type="password"] {
    width: 100%;
    border: 1px solid black;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#formulario input[type="text"]:hover, #formulario input[type="number"]:hover, #formulario input[type="email"]:hover, #formulario input[type="password"]:hover, #formulario textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#formulario textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#formulario input[type="submit"], #formulario input[type="reset"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: black;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#formulario input[type="submit"]:hover, #formulario input[type="reset"]:hover {
    background: darkgoldenrod;
    color: black;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#formulario input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#formulario input:focus, #formulario textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/*-------------------------Tienda--------------------*/
.wrap {
    display: block;
}

.productArea {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 50px 30px;
    width: 100%;
    height: 100vh;

}

.row {
    margin: 0 auto;
    padding: 15px;
    flex: 0 0 calc(33% - 30px);
    display: flex;
    flex-direction: column;
    background-color: white;
}

.prod {
    min-height: 580px;
    margin: 0 auto 30px;
}

.prod img {
    max-width: 100%;
}

.prod p {
    font-size: 20px;
    line-height: 26px;
    color: #51545f;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    float: right;

}

.prod h4 {
    font-size: 21px;
    color: #232d37;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

p, h4 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    transition: all 400ms linear 0s;
}

.row .prod {
    overflow: hidden;
}

.prod img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.prod h4:hover {
    color: red;
}
.prod:hover {
    box-shadow: 0 25px 49px 0 rgba(58, 74, 88, 0.1);
    transition: all 400ms linear 0s;
}

.price {
    color: black;
    margin: 0;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/*-------------------------Tutoriales--------------------*/
.container {
    margin: 3% 0;
    box-sizing: border-box;
}

video {
    width: 50%;
    height: auto;
    border: 1px solid red;
}
.title {
    color: black;
    text-align: center;
    font-size: 2.5vw;
}
.infoVideo {
    float: right;
    width: 50%;
    font-size: 1.5vw;
    padding: 2% 0;
}

/*------------------------Rutas--------------------*/
.containerRuta img {
    width: 50%;
    height: auto;
}

.containerRuta {
    margin: 3% 3%;
    box-sizing: border-box;
}

.infoRuta {
    float: right;
    width: 50%;
    font-size: 1.5vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.titleRuta {
    color: black;
    text-align: center;
    font-size: 2.5vw;
}

.routeBody {
    background-image: linear-gradient(to bottom right, white, lightslategray);
}

/*-----------------Tecnicas--------------*/
.bodyTec{
    background-image: linear-gradient(to bottom right, black, gray);
}
#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Card {
    display: flex;
    justify-content: center;

    margin: auto;
    width: 48rem;
    min-height: 26rem;
}

.Card-image1 {
    flex-basis: 40%;
    background-image: url(../img/paisaje.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Card-image2 {
    flex-basis: 40%;
    background-image: url(../img/naturaleza.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Card-image3 {
    flex-basis: 40%;
    background-image: url(../img/retrato.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Card-image4 {
    flex-basis: 40%;
    background-image: url(../img/nocturna.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Card-body {
    --margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: -4em;
    padding: 0 1.4em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0 .2em .2em;
}

.Card-title {
    margin-bottom: .4em;
    text-transform: uppercase;
    color: black;
}

.Card-title,
.Card-description {
    margin: 0;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}